.tt_vector-sales-fast-illustration-blue {
    background: url("https://m0.ttxm.co.uk/images/vector-sprite/sales/sprite-f46536e8.svg") 0 0 no-repeat;
    width: 512px;
    height: 512px;
}

.tt_vector-sales-faster-illustration-green {
    background: url("https://m0.ttxm.co.uk/images/vector-sprite/sales/sprite-f46536e8.svg") 100% 0 no-repeat;
    width: 512px;
    height: 512px;
}

.tt_vector-sales-persistent-basket-notification {
    background: url("https://m0.ttxm.co.uk/images/vector-sprite/sales/sprite-f46536e8.svg") 0 100% no-repeat;
    width: 512px;
    height: 512px;
}

