.tt_vector-notifications-error {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/notifications/sprite-30ad4ab1.svg") 99.41176470588233% 0 no-repeat;
	width: 30px;
	height: 30px;
}

.tt_vector-notifications-info {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/notifications/sprite-30ad4ab1.svg") 0 100% no-repeat;
	width: 30px;
	height: 30px;
}

.tt_vector-notifications-success {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/notifications/sprite-30ad4ab1.svg") 88.23529411764706% 100% no-repeat;
	width: 30px;
	height: 30px;
}

.tt_vector-notifications-warning {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/notifications/sprite-30ad4ab1.svg") 0 0 no-repeat;
	width: 33.8px;
	height: 30px;
}

