.tt_vector-notifications-error {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/notifications/sprite-8270e750.svg") 0 100% no-repeat;
	width: 48px;
	height: 48px;
}

.tt_vector-notifications-info {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/notifications/sprite-8270e750.svg") 52.475247524752476% 0 no-repeat;
	width: 48px;
	height: 48px;
}

.tt_vector-notifications-success {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/notifications/sprite-8270e750.svg") 100% 0 no-repeat;
	width: 48px;
	height: 48px;
}

.tt_vector-notifications-warning {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/notifications/sprite-8270e750.svg") 0 0 no-repeat;
	width: 53px;
	height: 47px;
}

