.tt_vector-welcome-centre-faster {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/welcome-centre/sprite-c73aed8e.svg") 0 0 no-repeat;
	width: 137px;
	height: 90px;
}

.tt_vector-welcome-centre-fibre {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/welcome-centre/sprite-c73aed8e.svg") 100% 0 no-repeat;
	width: 137px;
	height: 90px;
}

.tt_vector-welcome-centre-ufo {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/welcome-centre/sprite-c73aed8e.svg") 0 100% no-repeat;
	width: 137px;
	height: 90px;
}

