$svg-sprite-path: "https://m0.ttxm.co.uk/images/vector-sprite/" !default;

.tt_vector-welcome-centre-bills {
background: url($svg-sprite-path + "welcome-centre/sprite-c68fc269.svg") no-repeat;
background-position: 0 100%;
width: 122px;
height: 115px;
}

.tt_vector-welcome-centre-fast_small {
background: url($svg-sprite-path + "welcome-centre/sprite-c68fc269.svg") no-repeat;
background-position: 42.02453987730061% 40%;
width: 70px;
height: 70px;
}

.tt_vector-welcome-centre-faster {
background: url($svg-sprite-path + "welcome-centre/sprite-c68fc269.svg") no-repeat;
background-position: 0 0;
width: 137px;
height: 90px;
}

.tt_vector-welcome-centre-faster_small {
background: url($svg-sprite-path + "welcome-centre/sprite-c68fc269.svg") no-repeat;
background-position: 96.31901840490798% 80%;
width: 70px;
height: 70px;
}

.tt_vector-welcome-centre-fibre {
background: url($svg-sprite-path + "welcome-centre/sprite-c68fc269.svg") no-repeat;
background-position: 0 43.90243902439025%;
width: 137px;
height: 90px;
}

.tt_vector-welcome-centre-help_small {
background: url($svg-sprite-path + "welcome-centre/sprite-c68fc269.svg") no-repeat;
background-position: 83.06010928961749% 43.39622641509434%;
width: 30px;
height: 30px;
}

.tt_vector-welcome-centre-mobile {
background: url($svg-sprite-path + "welcome-centre/sprite-c68fc269.svg") no-repeat;
background-position: 100% 0;
width: 122px;
height: 115px;
}

.tt_vector-welcome-centre-mobile_small {
background: url($svg-sprite-path + "welcome-centre/sprite-c68fc269.svg") no-repeat;
background-position: 74.84662576687117% 80%;
width: 70px;
height: 70px;
}

.tt_vector-welcome-centre-payment_small {
background: url($svg-sprite-path + "welcome-centre/sprite-c68fc269.svg") no-repeat;
background-position: 74.86338797814207% 43.39622641509434%;
width: 30px;
height: 30px;
}

.tt_vector-welcome-centre-payments {
background: url($svg-sprite-path + "welcome-centre/sprite-c68fc269.svg") no-repeat;
background-position: 44.52554744525548% 100%;
width: 122px;
height: 115px;
}

.tt_vector-welcome-centre-search_small {
background: url($svg-sprite-path + "welcome-centre/sprite-c68fc269.svg") no-repeat;
background-position: 91.2568306010929% 43.39622641509434%;
width: 30px;
height: 30px;
}

.tt_vector-welcome-centre-ufo {
background: url($svg-sprite-path + "welcome-centre/sprite-c68fc269.svg") no-repeat;
background-position: 52.8957528957529% 0;
width: 137px;
height: 90px;
}

.tt_vector-welcome-centre-ufo_small {
background: url($svg-sprite-path + "welcome-centre/sprite-c68fc269.svg") no-repeat;
background-position: 99.4535519125683% 43.39622641509434%;
width: 30px;
height: 30px;
}

