$svg-sprite-path: "https://m0.ttxm.co.uk/images/vector-sprite/" !default;

.tt_vector-ufo-circle-fill-calling-features-desktop {
background: url($svg-sprite-path + "ufo/sprite-56d99524.svg") no-repeat;
background-position: 47.12990936555891% 81.41592920353982%;
width: 82px;
height: 82px;
}

.tt_vector-ufo-circle-fill-calling-features-mobile {
background: url($svg-sprite-path + "ufo/sprite-56d99524.svg") no-repeat;
background-position: 89.21832884097034% 77.44360902255639%;
width: 42px;
height: 42px;
}

.tt_vector-ufo-circle-fill-online-security-desktop {
background: url($svg-sprite-path + "ufo/sprite-56d99524.svg") no-repeat;
background-position: 75.22658610271904% 36.283185840707965%;
width: 82px;
height: 82px;
}

.tt_vector-ufo-circle-fill-online-security-mobile {
background: url($svg-sprite-path + "ufo/sprite-56d99524.svg") no-repeat;
background-position: 33.9622641509434% 100%;
width: 42px;
height: 42px;
}

.tt_vector-ufo-circle-fill-tick-desktop {
background: url($svg-sprite-path + "ufo/sprite-56d99524.svg") no-repeat;
background-position: 100% 0;
width: 82px;
height: 82px;
}

.tt_vector-ufo-circle-fill-tick-mobile {
background: url($svg-sprite-path + "ufo/sprite-56d99524.svg") no-repeat;
background-position: 22.641509433962263% 100%;
width: 42px;
height: 42px;
}

.tt_vector-ufo-circle-fill-tv-desktop {
background: url($svg-sprite-path + "ufo/sprite-56d99524.svg") no-repeat;
background-position: 75.22658610271904% 0;
width: 82px;
height: 82px;
}

.tt_vector-ufo-circle-fill-tv-mobile {
background: url($svg-sprite-path + "ufo/sprite-56d99524.svg") no-repeat;
background-position: 11.320754716981131% 100%;
width: 42px;
height: 42px;
}

.tt_vector-ufo-circle-fill-unlimited-desktop {
background: url($svg-sprite-path + "ufo/sprite-56d99524.svg") no-repeat;
background-position: 0 81.41592920353982%;
width: 82px;
height: 82px;
}

.tt_vector-ufo-circle-fill-unlimited-mobile {
background: url($svg-sprite-path + "ufo/sprite-56d99524.svg") no-repeat;
background-position: 0 100%;
width: 42px;
height: 42px;
}

.tt_vector-ufo-circle-fill-wifi-desktop {
background: url($svg-sprite-path + "ufo/sprite-56d99524.svg") no-repeat;
background-position: 25.075528700906343% 40.70796460176991%;
width: 82px;
height: 82px;
}

.tt_vector-ufo-circle-fill-wifi-mobile {
background: url($svg-sprite-path + "ufo/sprite-56d99524.svg") no-repeat;
background-position: 89.21832884097034% 61.65413533834587%;
width: 42px;
height: 42px;
}

.tt_vector-ufo-hexagon-futureproof-desktop {
background: url($svg-sprite-path + "ufo/sprite-56d99524.svg") no-repeat;
background-position: 0 42.592592592592595%;
width: 83px;
height: 92px;
}

.tt_vector-ufo-hexagon-futureproof-mobile {
background: url($svg-sprite-path + "ufo/sprite-56d99524.svg") no-repeat;
background-position: 70.20648967551622% 81.41592920353982%;
width: 74px;
height: 82px;
}

.tt_vector-ufo-hexagon-install-desktop {
background: url($svg-sprite-path + "ufo/sprite-56d99524.svg") no-repeat;
background-position: 50.303030303030305% 0;
width: 83px;
height: 92px;
}

.tt_vector-ufo-hexagon-install-mobile {
background: url($svg-sprite-path + "ufo/sprite-56d99524.svg") no-repeat;
background-position: 24.188790560471976% 81.41592920353982%;
width: 74px;
height: 82px;
}

.tt_vector-ufo-hexagon-reliable-desktop {
background: url($svg-sprite-path + "ufo/sprite-56d99524.svg") no-repeat;
background-position: 25.151515151515152% 0;
width: 83px;
height: 92px;
}

.tt_vector-ufo-hexagon-reliable-mobile {
background: url($svg-sprite-path + "ufo/sprite-56d99524.svg") no-repeat;
background-position: 48.67256637168141% 40.70796460176991%;
width: 74px;
height: 82px;
}

.tt_vector-ufo-hexagon-ultrafast-desktop {
background: url($svg-sprite-path + "ufo/sprite-56d99524.svg") no-repeat;
background-position: 0 0;
width: 83px;
height: 92px;
}

.tt_vector-ufo-hexagon-ultrafast-mobile {
background: url($svg-sprite-path + "ufo/sprite-56d99524.svg") no-repeat;
background-position: 97.6401179941003% 36.283185840707965%;
width: 74px;
height: 82px;
}

