.tt_vector-ufo-ufo-circle-fill-calling-features-desktop {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/ufo/sprite-098f45d2.svg") 47.12990936555891% 81.41592920353982% no-repeat;
	width: 82px;
	height: 82px;
}

.tt_vector-ufo-ufo-circle-fill-calling-features-mobile {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/ufo/sprite-098f45d2.svg") 89.21832884097034% 77.44360902255639% no-repeat;
	width: 42px;
	height: 42px;
}

.tt_vector-ufo-ufo-circle-fill-online-security-desktop {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/ufo/sprite-098f45d2.svg") 75.22658610271904% 36.283185840707965% no-repeat;
	width: 82px;
	height: 82px;
}

.tt_vector-ufo-ufo-circle-fill-online-security-mobile {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/ufo/sprite-098f45d2.svg") 33.9622641509434% 100% no-repeat;
	width: 42px;
	height: 42px;
}

.tt_vector-ufo-ufo-circle-fill-tick-desktop {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/ufo/sprite-098f45d2.svg") 100% 0 no-repeat;
	width: 82px;
	height: 82px;
}

.tt_vector-ufo-ufo-circle-fill-tick-mobile {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/ufo/sprite-098f45d2.svg") 22.641509433962263% 100% no-repeat;
	width: 42px;
	height: 42px;
}

.tt_vector-ufo-ufo-circle-fill-tv-desktop {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/ufo/sprite-098f45d2.svg") 75.22658610271904% 0 no-repeat;
	width: 82px;
	height: 82px;
}

.tt_vector-ufo-ufo-circle-fill-tv-mobile {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/ufo/sprite-098f45d2.svg") 11.320754716981131% 100% no-repeat;
	width: 42px;
	height: 42px;
}

.tt_vector-ufo-ufo-circle-fill-unlimited-desktop {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/ufo/sprite-098f45d2.svg") 0 81.41592920353982% no-repeat;
	width: 82px;
	height: 82px;
}

.tt_vector-ufo-ufo-circle-fill-unlimited-mobile {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/ufo/sprite-098f45d2.svg") 0 100% no-repeat;
	width: 42px;
	height: 42px;
}

.tt_vector-ufo-ufo-circle-fill-wifi-desktop {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/ufo/sprite-098f45d2.svg") 25.075528700906343% 40.70796460176991% no-repeat;
	width: 82px;
	height: 82px;
}

.tt_vector-ufo-ufo-circle-fill-wifi-mobile {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/ufo/sprite-098f45d2.svg") 89.21832884097034% 61.65413533834587% no-repeat;
	width: 42px;
	height: 42px;
}

.tt_vector-ufo-ufo-hexagon-futureproof-desktop {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/ufo/sprite-098f45d2.svg") 0 42.592592592592595% no-repeat;
	width: 83px;
	height: 92px;
}

.tt_vector-ufo-ufo-hexagon-futureproof-mobile {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/ufo/sprite-098f45d2.svg") 70.20648967551622% 81.41592920353982% no-repeat;
	width: 74px;
	height: 82px;
}

.tt_vector-ufo-ufo-hexagon-install-desktop {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/ufo/sprite-098f45d2.svg") 50.303030303030305% 0 no-repeat;
	width: 83px;
	height: 92px;
}

.tt_vector-ufo-ufo-hexagon-install-mobile {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/ufo/sprite-098f45d2.svg") 24.188790560471976% 81.41592920353982% no-repeat;
	width: 74px;
	height: 82px;
}

.tt_vector-ufo-ufo-hexagon-reliable-desktop {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/ufo/sprite-098f45d2.svg") 25.151515151515152% 0 no-repeat;
	width: 83px;
	height: 92px;
}

.tt_vector-ufo-ufo-hexagon-reliable-mobile {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/ufo/sprite-098f45d2.svg") 48.67256637168141% 40.70796460176991% no-repeat;
	width: 74px;
	height: 82px;
}

.tt_vector-ufo-ufo-hexagon-ultrafast-desktop {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/ufo/sprite-098f45d2.svg") 0 0 no-repeat;
	width: 83px;
	height: 92px;
}

.tt_vector-ufo-ufo-hexagon-ultrafast-mobile {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/ufo/sprite-098f45d2.svg") 97.6401179941003% 36.283185840707965% no-repeat;
	width: 74px;
	height: 82px;
}

