$svg-sprite-path: "https://m0.ttxm.co.uk/images/vector-sprite/" !default;

.tt_vector-ufo-circle-fill-calling-features-desktop {
background: url($svg-sprite-path + "ufo/sprite-f10fa8c0.svg") no-repeat;
background-position: 25.69659442724458% 40.70796460176991%;
width: 82px;
height: 82px;
}

.tt_vector-ufo-circle-fill-calling-features-mobile {
background: url($svg-sprite-path + "ufo/sprite-f10fa8c0.svg") no-repeat;
background-position: 91.18457300275482% 61.65413533834587%;
width: 42px;
height: 42px;
}

.tt_vector-ufo-circle-fill-online-security-desktop {
background: url($svg-sprite-path + "ufo/sprite-f10fa8c0.svg") no-repeat;
background-position: 51.083591331269346% 40.70796460176991%;
width: 82px;
height: 82px;
}

.tt_vector-ufo-circle-fill-online-security-mobile {
background: url($svg-sprite-path + "ufo/sprite-f10fa8c0.svg") no-repeat;
background-position: 91.18457300275482% 77.44360902255639%;
width: 42px;
height: 42px;
}

.tt_vector-ufo-circle-fill-tick-desktop {
background: url($svg-sprite-path + "ufo/sprite-f10fa8c0.svg") no-repeat;
background-position: 77.08978328173374% 0;
width: 82px;
height: 82px;
}

.tt_vector-ufo-circle-fill-tick-mobile {
background: url($svg-sprite-path + "ufo/sprite-f10fa8c0.svg") no-repeat;
background-position: 0 100%;
width: 42px;
height: 42px;
}

.tt_vector-ufo-circle-fill-tv-desktop {
background: url($svg-sprite-path + "ufo/sprite-f10fa8c0.svg") no-repeat;
background-position: 77.08978328173374% 36.283185840707965%;
width: 82px;
height: 82px;
}

.tt_vector-ufo-circle-fill-tv-mobile {
background: url($svg-sprite-path + "ufo/sprite-f10fa8c0.svg") no-repeat;
background-position: 11.570247933884298% 100%;
width: 42px;
height: 42px;
}

.tt_vector-ufo-circle-fill-unlimited-desktop {
background: url($svg-sprite-path + "ufo/sprite-f10fa8c0.svg") no-repeat;
background-position: 0 81.41592920353982%;
width: 82px;
height: 82px;
}

.tt_vector-ufo-circle-fill-unlimited-mobile {
background: url($svg-sprite-path + "ufo/sprite-f10fa8c0.svg") no-repeat;
background-position: 23.140495867768596% 100%;
width: 42px;
height: 42px;
}

.tt_vector-ufo-circle-fill-wifi-desktop {
background: url($svg-sprite-path + "ufo/sprite-f10fa8c0.svg") no-repeat;
background-position: 25.386996904024766% 81.41592920353982%;
width: 82px;
height: 82px;
}

.tt_vector-ufo-circle-fill-wifi-mobile {
background: url($svg-sprite-path + "ufo/sprite-f10fa8c0.svg") no-repeat;
background-position: 34.710743801652896% 100%;
width: 42px;
height: 42px;
}

.tt_vector-ufo-hexagon-futureproof-desktop {
background: url($svg-sprite-path + "ufo/sprite-f10fa8c0.svg") no-repeat;
background-position: 0 0;
width: 83px;
height: 92px;
}

.tt_vector-ufo-hexagon-futureproof-mobile {
background: url($svg-sprite-path + "ufo/sprite-f10fa8c0.svg") no-repeat;
background-position: 49.546827794561935% 81.41592920353982%;
width: 74px;
height: 82px;
}

.tt_vector-ufo-hexagon-install-desktop {
background: url($svg-sprite-path + "ufo/sprite-f10fa8c0.svg") no-repeat;
background-position: 25.77639751552795% 0;
width: 83px;
height: 92px;
}

.tt_vector-ufo-hexagon-install-mobile {
background: url($svg-sprite-path + "ufo/sprite-f10fa8c0.svg") no-repeat;
background-position: 71.90332326283988% 81.41592920353982%;
width: 74px;
height: 82px;
}

.tt_vector-ufo-hexagon-reliable-desktop {
background: url($svg-sprite-path + "ufo/sprite-f10fa8c0.svg") no-repeat;
background-position: 51.5527950310559% 0;
width: 83px;
height: 92px;
}

.tt_vector-ufo-hexagon-reliable-mobile {
background: url($svg-sprite-path + "ufo/sprite-f10fa8c0.svg") no-repeat;
background-position: 100% 0;
width: 74px;
height: 82px;
}

.tt_vector-ufo-hexagon-ultrafast-desktop {
background: url($svg-sprite-path + "ufo/sprite-f10fa8c0.svg") no-repeat;
background-position: 0 42.592592592592595%;
width: 83px;
height: 92px;
}

.tt_vector-ufo-hexagon-ultrafast-mobile {
background: url($svg-sprite-path + "ufo/sprite-f10fa8c0.svg") no-repeat;
background-position: 100% 36.283185840707965%;
width: 74px;
height: 82px;
}

