%svg-common {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/pinpad/sprite-76db8ca8.svg") no-repeat;
}

.tt_vector-pinpad-pinpad-1 {
	@extend %svg-common;
	background-position: 99.13258983890954% 0;
}

.tt_vector-pinpad-pinpad-1-dims {
	width: 79.3px;
	height: 79.3px;
}

.tt_vector-pinpad-pinpad-1-fill {
	@extend %svg-common;
	background-position: 0 0;
}

.tt_vector-pinpad-pinpad-1-fill-dims {
	width: 80px;
	height: 80px;
}

