.tt_vector-pinpad-1 {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/pinpad/sprite-823207d9.svg") 0 0 no-repeat;
}

.tt_vector-pinpad-1-dims {
	width: 78px;
	height: 78px;
}

.tt_vector-pinpad-1-fill {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/pinpad/sprite-823207d9.svg") 100% 0 no-repeat;
}

.tt_vector-pinpad-1-fill-dims {
	width: 78px;
	height: 78px;
}

