.tt_vector-pinpad-0 {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/pinpad/sprite-70eaaf02.svg") 25% 0 no-repeat;
	width: 78px;
	height: 78px;
}

.tt_vector-pinpad-0-fill {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/pinpad/sprite-70eaaf02.svg") 75% 50% no-repeat;
	width: 78px;
	height: 78px;
}

.tt_vector-pinpad-1 {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/pinpad/sprite-70eaaf02.svg") 0 25% no-repeat;
	width: 78px;
	height: 78px;
}

.tt_vector-pinpad-1-fill {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/pinpad/sprite-70eaaf02.svg") 25% 25% no-repeat;
	width: 78px;
	height: 78px;
}

.tt_vector-pinpad-2 {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/pinpad/sprite-70eaaf02.svg") 50% 0 no-repeat;
	width: 78px;
	height: 78px;
}

.tt_vector-pinpad-2-fill {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/pinpad/sprite-70eaaf02.svg") 50% 25% no-repeat;
	width: 78px;
	height: 78px;
}

.tt_vector-pinpad-3 {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/pinpad/sprite-70eaaf02.svg") 0 50% no-repeat;
	width: 78px;
	height: 78px;
}

.tt_vector-pinpad-3-fill {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/pinpad/sprite-70eaaf02.svg") 25% 50% no-repeat;
	width: 78px;
	height: 78px;
}

.tt_vector-pinpad-4 {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/pinpad/sprite-70eaaf02.svg") 50% 50% no-repeat;
	width: 78px;
	height: 78px;
}

.tt_vector-pinpad-4-fill {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/pinpad/sprite-70eaaf02.svg") 75% 0 no-repeat;
	width: 78px;
	height: 78px;
}

.tt_vector-pinpad-5 {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/pinpad/sprite-70eaaf02.svg") 75% 25% no-repeat;
	width: 78px;
	height: 78px;
}

.tt_vector-pinpad-5-fill {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/pinpad/sprite-70eaaf02.svg") 0 0 no-repeat;
	width: 78px;
	height: 78px;
}

.tt_vector-pinpad-6 {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/pinpad/sprite-70eaaf02.svg") 0 75% no-repeat;
	width: 78px;
	height: 78px;
}

.tt_vector-pinpad-6-fill {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/pinpad/sprite-70eaaf02.svg") 25% 75% no-repeat;
	width: 78px;
	height: 78px;
}

.tt_vector-pinpad-7 {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/pinpad/sprite-70eaaf02.svg") 50% 75% no-repeat;
	width: 78px;
	height: 78px;
}

.tt_vector-pinpad-7-fill {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/pinpad/sprite-70eaaf02.svg") 75% 75% no-repeat;
	width: 78px;
	height: 78px;
}

.tt_vector-pinpad-8 {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/pinpad/sprite-70eaaf02.svg") 100% 0 no-repeat;
	width: 78px;
	height: 78px;
}

.tt_vector-pinpad-8-fill {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/pinpad/sprite-70eaaf02.svg") 100% 25% no-repeat;
	width: 78px;
	height: 78px;
}

.tt_vector-pinpad-9 {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/pinpad/sprite-70eaaf02.svg") 100% 50% no-repeat;
	width: 78px;
	height: 78px;
}

.tt_vector-pinpad-9-fill {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/pinpad/sprite-70eaaf02.svg") 100% 75% no-repeat;
	width: 78px;
	height: 78px;
}

.tt_vector-pinpad-backspace {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/pinpad/sprite-70eaaf02.svg") 0 100% no-repeat;
	width: 78px;
	height: 78px;
}

.tt_vector-pinpad-backspace-fill {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/pinpad/sprite-70eaaf02.svg") 25% 100% no-repeat;
	width: 78px;
	height: 78px;
}

