$svg-sprite-path: "https://m0.ttxm.co.uk/images/vector-sprite/" !default;
$svg-sprite-folder: "pinpad";
$svg-sprite-url: $svg-sprite-path + $svg-sprite-folder + "/sprite-29c10e49.svg";

%svg-common {
    background: url($svg-sprite-url) no-repeat;
}

.tt_vector-pinpad-1 {
@extend %svg-common;
background-position: 0 0;
width: 78px;
height: 78px;
}

.tt_vector-pinpad-1-fill {
@extend %svg-common;
background-position: 100% 0;
width: 78px;
height: 78px;
}

