.tt_vector-pinpad-1 {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/pinpad/sprite-0ef96ee1.svg") 99.13258983890954% 0 no-repeat;
}

.tt_vector-pinpad-1-dims {
	width: 79.3px;
	height: 79.3px;
}

.tt_vector-pinpad-1-fill {
	background: url("https://m0.ttxm.co.uk/images/vector-sprite/pinpad/sprite-0ef96ee1.svg") 0 0 no-repeat;
}

.tt_vector-pinpad-1-fill-dims {
	width: 80px;
	height: 80px;
}

